/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    text-align: center;
}
header h1 {
    margin: 0;
    color: #b28f5b;
}
.language-switch {
    margin-top: 10px;
}
.language-switch button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}
th:nth-child(1),
td:nth-child(1) {
    width: 56%;
}
th:nth-child(2),
td:nth-child(2) {
    width: 40%;
}

.category {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    color: #b28f5b;
    text-align: left;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    table {
        font-size: 14px;
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 180px;
    height: 40px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4caf50;
    transition: .4s;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.slider:before {
    position: absolute;
    content: "";
    height: 80%;
    width: 20%;
    left: 4%;
    top: 10%;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    z-index: 2;
}
input:checked + .slider {
    background-color: #f44336;
}
input:checked + .slider:before {
    transform: translateX(360%);
}
.status {
    position: relative;
    z-index: 1;
    pointer-events: none;
    text-align: center;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .switch {
        width: 100%;
        max-width: 140px;
        height: 36px;
    }
    .slider {
        font-size: 12px;
    }
    .slider:before {
        height: 70%;
        width: 20%;
        left: 4%;
        top: 15%;
    }
    input:checked + .slider:before {
        transform: translateX(360%);
    }
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-top: 2px solid #ccc;
    font-size: 14px;
    margin-top: 20px;
}

.language-switch button {
    background-color: #b28f5b;
    color: #fff;
    border-radius: 5px;
}
.language-switch button:hover {
    background-color: #9a7a4e;
}
